.TodoItem {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding: 12px;
    background-color:#b4c6db;
    border-radius: 28px;
    box-shadow: 0 5px 9px gray;
    border: 1px solid;
    transition: background-color 100ms;
}

.TodoItem:hover {
}

.Icon-check-active {
    color: #2cdf30;
}

.Icon-check:hover {
    color: #4caf50;
}


.Icon-delete, .Icon-check {
    cursor: pointer;
}
.Icon-delete:hover {
    color: red;
}

.TodoItem__text--completed {
    background-color: #64869bbb;
    text-decoration: line-through;
}