.TodoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    background-color: white;
    transition: background-color 100ms;
}

.TodoItem:nth-child(n+2) {
    border-top: 1px solid var(--GrayLine);
}

.TodoItem p {
    max-width: calc(100% - 54px);
    flex-grow: 1;
    margin-left: 14px;
    background-color: transparent;
    font-size: 1.4rem;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.Icon-delete, .Icon-check {
    cursor: pointer;
}
.Icon-delete:hover {
    color: red;
}

.TodoItem__text--completed {
    color: #0005;
    text-decoration: line-through;
}