.TodoCreator {
    display: flex;
    padding: 14px 18px;
    background-color: white;
    border-radius: 5px;
}

.TodoCreator input {
    border: none;
    outline: 0;
    margin-left: 10px;
    flex-grow: 1;
    background-color: transparent;
    overflow-x: scroll;
}