.ThemeSwitcher {
    display: flex;
    justify-content: space-between;
    /* align-items: baseline; */
}

.ThemeSwitcher h1 {
    font-size: 2.8rem;
    letter-spacing: 8px;
    color: white;
    font-weight: 400;
}

.ThemeSwitcher img{
    height: 26px;
    cursor: pointer;
}