:root {
  --VeryLightGray: hsl(0, 0%, 98%);
  --VeryLightGrayishBlue: hsl(236, 33%, 92%);
  --LightGrayishBlue: hsl(233, 11%, 84%);
  --DarkGrayishBlue: hsl(236, 9%, 61%);
  --VeryDarkGrayishBlue: hsl(235, 19%, 35%);
  --GrayLine: #8885;

  --VeryDarkDesaturatedBlue: #181824;
  --LightGrayishBlue: hsl(234, 39%, 85%);
  --LightGrayishBlue: (hover): hsl(236, 33%, 92%);
  --DarkGrayishBlue: hsl(234, 11%, 52%);
  --VeryDarkGrayishBlue: hsl(233, 14%, 35%);
  --VeryDarkGrayishBlue: hsl(237, 14%, 26%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  min-height: 100vh;
  background-color: var(--VeryLightGray);
  font-size: 62.5%;
  font-family:  'Josefin Sans', Helvetica, sans-serif;
  overflow: hidden;
}

.DarkTheme {
  background-color: var(--VeryDarkDesaturatedBlue);
}

@media screen and (min-width: 768px) {
  .Header {
    height: 120px;
  }

  .ThemeSwitcher h1 {
    font-size: 3.4rem;
    letter-spacing: 13px;
    color: white;
    font-weight: 700;
  }

  .MainContainer {
    margin-top: 75px;
  }
} 