*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  /* background-color: #e8e8e8; */
  font-size: 62.5%;
  font-family:  Helvetica, sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(#f7d0cb, #fcf0ef);
}
