.TodoCounter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
    background-color: white;
    border-top: 1px solid var(--GrayLine);
    font-size: 1.4rem;
    letter-spacing: -0.5px;
    color: #888c
}

.Clickeable {
    transition: 100ms color;
}

.Clickeable:hover {
    cursor: pointer;
    color: black;
}