.TodoCounter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
    border-top: 1px solid var(--GrayLine);
    font-size: 1.4rem;
    letter-spacing: -0.5px;
}

.LightTodoCounter {
    @extend .TodoCounter;
    background-color: white;
    color: #888c;

    .Clickeable:hover {
        color: black;
    }
}

.DarkTodoCounter {
    @extend .TodoCounter;
    background-color: rgb(27, 31, 62);
    color: #668c;

    .Clickeable:hover {
        color: #eee;
    }
}

.Clickeable {
    cursor: pointer;
    transition: 100ms color;
}